---

import '../styles/global.css';

let proyectos = [];
let error = false;

try {
  const res = await fetch('http://localhost/Wordpress/wp-json/wp/v2/posts?_embed');

  if (!res.ok) throw new Error('Error en la API');

  proyectos = await res.json();
} catch (e) {
  console.error(e);
  error = true;
}
---

<div class="container">

<h1>Practicas Codenode</h1>

{error && <p>No se pudieron cargar los proyectos</p>}

{!error && proyectos.length === 0 && (
  <p>No hay proyectos disponibles</p>
)}

{!error && proyectos.map((proyecto) => (

<div class="card">
{proyecto._embedded?.['wp:featuredmedia']?.[0]?.source_url && (
  <img 
    src={proyecto._embedded['wp:featuredmedia'][0].source_url} 
    class="imagen-proyecto"
  />
)}
<h2 set:html={proyecto.title.rendered}></h2>

<p set:html={proyecto.content.rendered}></p>

<a href={`/proyectos/${proyecto.slug}`}>
Ver mas
</a>

</div>

))}

</div>