---
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<title>Portfolio</title>
</head>

<body>

<nav>
<a href="/">Inicio</a>
<a href="/proyectos">Proyectos</a>
<a href="/sobre-mi">Sobre mí</a>
</nav>

<div class="container">
<slot />
</div>

</body>
</html>